.breadcrumbs {
    display: inline-flex;
    margin: 20px 0;
    box-shadow: 0 0 4px 3px $btn_color;
    a {
      position: relative;
      padding-left: 60px;
      padding-right: 10px;
      text-decoration: none;
      @include text;
      font-size: 16px;
      font-weight: 600;
      color: $main_color;
      transition: all 0.5s;
      @include mobile {
        padding-left: 20px;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -15px;
        z-index: 1;
        width: 28px;
        height: 28px;
        background-color: white;
        box-shadow: 1px 1px 0 1px $btn_color;
        border-radius: 50px 0 0 0;
        transform: rotate(-45deg) scale(0.73);
        transition: all 0.5s;
        @include tablet {
          top: 0px;
          right: -11px;
          width: 18px;
          height: 18px;
        }
        @include mobile {
          top: 0px;
          right: -8px;
          width: 15px;
          height: 15px;
        }
      }
      &:hover, &:hover::after {
        background-color: $btn_color;
      }
    }
    .active, .active::after {
        background-color: $btn_color;
    }
    &:first-child {
        padding-left: 46px;
    }
    &:first-child::before {
        left: 14px;
    }
}
