header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @include mobile {
    margin: 10px 15px;
  }
  .menu_left {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu__nav {
      display: inline-block;
      @include mobile {
        display: none;
      }
      .menu__nav__ul {
        display: flex;
        @include tablet {
          justify-content: space-between;
        }
        li {
          list-style-type: none;
          display: inline;
          margin-right: 35px;
          @include tablet {
            margin-right: 15px;
          }
          &:last-child {
            margin-right: 0;
          }
          &:first-child {
              @include tablet {
              a {
                padding-left: 0;
              }
            }
          }
          a {
            text-transform: uppercase;
            @include link_a;
            @include text;
            padding: 7px;
          }
        }
      }
    }
    /*Мобильная версия*/
    .burger {
      display: none;
      width: 20px;
      height: 14px;
      top: 0px;
      position: relative;
      z-index: 9999;
      float: left;
      clear: both;
      @include mobile {
        display: inline-block;
      }
      span {
        display: block;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 2px;
        background-color: #000;
        margin-bottom: 4px;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
        &:first-child {
          transform-origin: 0% 0%;
        }
        &:nth-child(2) {
          transform-origin: 0% 100%;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .burger.for-close {
      top: 4px;
      span {
        opacity: 1;
        transform: rotate(45deg) translate(-8px, -11px);
        background: #000 !important;
        &:nth-last-child(3) {
          opacity: 1;
          transform: rotate(-45deg) translate(-6px, 8px);
        }
        &:nth-last-child(2) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
      }
    }
    .menu__nav.is-open {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 61;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      top: 0px;
      position: absolute;
      background: #fff;
      left: 0;
      .menu__nav__ul {
        overflow: hidden !important;
        opacity: 1;
        -webkit-opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    .menu__nav__ul.active {
        flex-direction: column;
        align-items: center;
      li {
        margin-top: 20px;
        margin-right: 0;
      }
    }
    .menu_right {
      display: flex;
      justify-content: space-between;
      width: auto;
      align-items: center;
      button {
        @include btn_size;
        @include btn_click;
        margin-right: 20px;
        @include tablet {
          width: auto;
          padding: 5px 10px;
        }
        @include mobile {
          margin-right: 0;
          margin-left: 20px;
        }
      }
      // .myPage {
      //   display: none;
      // }
    }
  }
  .logo {
    width: 150px;
    height: 80px;
    padding: 10px 10px 10px 0;
    transform: scale(-1, 1);
    .icon-logo {
      -webkit-animation: shake .7s linear alternate infinite;
      animation: shake .7s linear alternate infinite;
      width: 100%;
      height: 70px;
    }
  }
  .language {
    float: right;
    clear: both;
    padding: 10px;
    border: 0;
    @media (min-width: 0px) and (max-width: 767px) {
      display: none;
    }
    a {
      padding: 7px;
      @include link_a;
      font-weight: 700;
    }
    #ru:after {
      content: "";
      display: inline-block;
      width: 2px;
      margin-left: 10px;
      height: 12px;
      background-color: $btn_color;
    }
  }
  .b-search {
    width: 700px;
    height: 58px;
    @include tablet {
      width: 100%;
      order: 2;
    }
    @include mobile {
      width: 100%;
      order: 2;
    }
    .search_inputwrap {
      padding: 0 30px 0 15px;
      height: 50px;
      margin: 0;
      position: relative;
      border: 2px solid $main_color;
      background: #fff;
      .form_text {
        width: 100%;
        border: none;
        outline: none;
        color: $main_color;
        overflow: hidden;
        padding: 13px 0;
        font-size: 16px;
        //display: block;
      }
      .search_submit {
        position: absolute;
        top: 11px;
        right: 10px;
        width: 20px;
        height: 19px;
        background: url("../img/icons/search.svg") no-repeat 0 0;
        background-size: cover;
        border-width: 0;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .basket {
    display: flex;
    font-size: 0;
    border-radius: 10px;
    @include tablet {
      order: 1;
    }
    @include mobile {
      order: 1;
    }
    .basket_icon, .basket_product {
      display: flex;
      align-items: center;
      text-align: center;
      @include btn_size;
    }
    span {
      display: inline-block;
      width: 100%;
      @include text;
    }
    span.en {
      display: none;
    }
    .basket_icon {
      background-color: $btn_color;
      span {
        background: url("../img/icons/basket.png") no-repeat 8px 4px;
        @include mobile {
          width: 32px;
          font-size: 0;
        }
      }
    }
    .basket_product {
      border: 1px solid $btn_color;
      border-left: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
@-webkit-keyframes shake {
  100% {
    -webkit-transform: translateX(-20px);
  }
}
@keyframes shake {
  100% {
    transform: translateX(-20px);
  }
}
