.myPages {
      transition: all 0.5s;
  h1 {
    @include titleText;
  }
  .izbrannoeAll {
    display: none;
  }
  .activeIzbrannoe {
    margin-bottom: 50px;
    display: block;
  }
  .izbrannoe {
    @include text;
    cursor: pointer;
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid $main_color;
  }
}
