.virtues {
  background-color: $btn_color;
  padding: 50px 0;
  @include mobile {
    padding: 25px 0;
  }
  h1 {
    @include titleText;
  }
}
.flex_steps {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 64px;
  @media (min-width: 0px) and (max-width: 940px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  @media (min-width: 1280px) and (max-width: 1699px)  {
    margin-bottom: 50px;
  }
}
.icons_steps {
  width: 370px;
  @include tablet {
    width: 50%;
  }
  @include mobile {
    margin-bottom: 40px;
    width: 100%;
    max-width: 370px;
    text-align: center;
  }
  a:visited, a:link {
    color: #000;
    text-decoration: none;
  }
  .icons_img {
    margin-bottom: 8px;
    min-height: 142px;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    @media (min-width: 0px) and (max-width: 940px) {
      justify-content: center;
    }
    @media (min-width: 1280px) and (max-width: 1699px)  {
      margin-bottom: 20px;//40
    }
    .pos_img {
      position: relative;
    }
    img.pos_abs {
      left: -60px;
      bottom: -20px;
      position: absolute;
      @media (min-width: 0px) and (max-width: 940px) {
        left: 0;
        position: relative;
        bottom: 0;
      }
    }
    div.number {
      position: absolute;
      border-radius: 50%;
      text-align: center;
      width: 30px;
      height: 30px;
      background: $text_hover;
      right: 35px;
      top: -13px;
      span {
        font-family: Geometria;
        font-size: 16px;
        line-height: 100%;
        font-weight: 700;
        color: white;
        position: relative;
        top: 25%;
        transform: translateY(-50%);
      }
    }
    .number.num_2 {
      right: -14px;
    }
    .number.num_3 {
      right: -180px;
      top: -115px;
      @media (min-width: 0px) and (max-width: 940px) {
        right: 62px;
        top: 0;
      }
    }
  }
  h6 {
    @include text;
    margin-bottom: 24px;
    width: 90%;
    @include tablet {
      margin: 0 auto 15px;
      text-align: center;
    }
    @include mobile {
      margin: 0 auto 15px;
    }
  }
  p {
    @include text;
    width: 263px;
    span {
      color: #FFC600;
    }
    @include tablet {
      margin: 0 auto;
      text-align: center;
    }
    @include mobile {
      margin: 0 auto;
    }
  }
}
