.all_haracteristics {
  display: flex;
  flex-wrap: wrap;
}
.haracteristics {
  width: 39%;
  border-right: 2px solid $btn_color;
  margin: 0 50px 50px 50px;
  @include mobile {
    width: 100%;
    border-right: 0;
    margin: 0 20px 20px 20px;
  }
  .container_haract {
    display: table-row;
    margin-top: 10px;
    .title, .option {
      display: table-cell;
      width: 150px;
      @include text;
    }
    .option {
      color: black;
    }
    .title.en, .option.en {
      display: none;
    }
    sup {
      font-size: 13px;
      position: relative;
      top: -6px;
    }
  }
}
.punkts {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  @include mobile {
    margin: 0 15px;
    width: 100%;
  }
  .punkts_div {
    margin-right: 50px;
    @include mobile {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  h5 {
    @include text;
  }
  li {
    @include text;
    color: black;
    font-weight: 500;
    i {
      margin-right: 10px;
    }
  }
}
h2 {
  @include titleText;
  font-size: 40px;
  color: $text_hover;
  @include mobile {
    width: 90%;
  }
}
.review {
  display: flex;
  flex-direction: column;
  margin: 0 auto 50px;
  @include mobile {
    width: 90%;
    margin: 0 auto;
  }
  input {
    width: 100%;
  }
  textarea, input {
    padding: 20px;
    @include text;
    color: black;
    font-weight: 400;
    margin-bottom: 20px;
    @include mobile {
      padding: 10px;
    }
  }
  button {
    padding: 15px 30px;
    @include btn_click;
    margin-bottom: 50px;
  }
  #container_reviewTitle, #container_reviewText {
    @include text;
  }
  #container_reviewText {
    @include text;
    color: black;
    font-weight: 400;
  }
}
